<footer>

   <section class="js-learnworlds-section learnworlds-section lw-footer footer2 lw-dark-bg stretched-bg learnworlds-size-normal learnworlds-align-left js-change-image-node" data-section-id="tpl45" data-magic="background-image" id="section_123412341234_0">
    <div class="js-video-wrapper" style="display: none;"></div>
    <div class="learnworlds-section-overlay lw-light-bg js-learnworlds-overlay" style="display: none;"></div>
    <div class="learnworlds-section-content js-learnworlds-section-content wide" id="history_1670440554055_918">

        <div class="lw-cols align-items-stretch one-row one-row-tl multiple-rows-tp multiple-rows-sl multiple-rows-sp js-same-content-wrapper" data-node-type="columnWrapper" id="el_1638552262983_4353">

            <div class="mb-4rem col non-flexible footer-col flex-item va-fs span_4_of_12 span_4_of_12-tl span_6_of_12-tp span_6_of_12-sl span_12_of_12-sp js-lw-flexible-wrapper js-same-content-child anim-normal learnworlds-align-left learnworlds-animated fade-in" data-node-type="column" id="el_1591888215403_349">
                <img loading="lazy" src="https://lwfiles.mycourse.app/6390a28b12906a54205bb722-public/5a232bdb5ea1015b4548972f8c388fb6.png" class="lw-widget-in learnworlds-image learnworlds-element js-change-image-node" data-node-type="image" data-element-id="image" id="el_1638552495728_4549" width="750" height="115">
                <div class="learnworlds-main-text learnworlds-element learnworlds-main-text-small" data-node-type="text" id="el_1638552262986_4355"><br><br><br></div><div class="lw-widget-in learnworlds-main-text learnworlds-main-text-small learnworlds-element" data-element-id="textSmall" data-node-type="text" id="el_1638785795072_730">Copyright ©&nbsp;Dutch Engineer 2023</div>
            </div>

            <div class="mb-4rem col non-flexible footer-col flex-item va-fs span_4_of_12 span_4_of_12-tl span_6_of_12-tp span_6_of_12-sl span_12_of_12-sp js-lw-flexible-wrapper js-same-content-child anim-normal learnworlds-align-left learnworlds-animated fade-in" data-node-type="column" id="el_1638552262987_4356">

                <h3 class="lw-widget-in learnworlds-heading3 learnworlds-element learnworlds-heading3-small" data-element-id="heading4Small" data-node-type="text" id="el_1638552262988_4357">FEATURED LINKS</h3>
                <ul class="lw-widget-in lw-cols oneItem-per-row multiple-rows learnworlds-element js-same-content-wrapper" data-node-type="listWrapper" data-element-id="listType1" id="el_1638785581278_566">
            <li class="col no-padding flex-item with-flexible-parts non-flexible js-lw-flexible-wrapper js-same-content-child" data-node-type="listItem" id="el_1638785581277_554">
                
                <a class="js-linked-node learnworlds-main-text learnworlds-main-text-small" href="/home"><div class="flexible-part learnworlds-main-text learnworlds-element learnworlds-main-text-small cursor-pointer" data-node-type="text" id="el_1638785581277_556">Home</div></a>
            </li><li class="col no-padding flex-item with-flexible-parts non-flexible js-lw-flexible-wrapper js-same-content-child" data-node-type="listItem" id="el_1638785581277_557">
                
                <a class="js-linked-node learnworlds-main-text learnworlds-main-text-small" href="/about"><div class="flexible-part learnworlds-main-text learnworlds-element learnworlds-main-text-small cursor-pointer" data-node-type="text" id="el_1638785581278_559">About us</div></a>
            </li><li class="col no-padding flex-item with-flexible-parts non-flexible js-lw-flexible-wrapper js-same-content-child" data-node-type="listItem" id="el_1638785581277_551">
                
                <a class="js-linked-node learnworlds-main-text learnworlds-main-text-small" href="/courses"><div class="flexible-part learnworlds-main-text learnworlds-element learnworlds-main-text-small cursor-pointer" data-node-type="text" id="el_1638785581277_553">Courses</div></a>
            </li>
            
            
        <li class="col no-padding flex-item with-flexible-parts non-flexible js-lw-flexible-wrapper js-same-content-child" data-node-type="listItem" id="el_1638785581278_560">
                
                <a class="js-linked-node learnworlds-main-text learnworlds-main-text-small" href="/blog"><div class="flexible-part learnworlds-main-text learnworlds-element learnworlds-main-text-small cursor-pointer" data-node-type="text" id="el_1638785581278_562">Blog</div></a>
            </li><li class="col no-padding flex-item with-flexible-parts non-flexible js-lw-flexible-wrapper js-same-content-child" data-node-type="listItem" id="el_1638785581278_563">
                
                <a class="js-linked-node learnworlds-main-text learnworlds-main-text-small" href="/affiliate-registration"><div class="flexible-part learnworlds-main-text learnworlds-element learnworlds-main-text-small cursor-pointer" data-node-type="text" id="el_1638785581278_565">Affiliates</div></a>
            </li></ul>
            </div>

            <div class="mb-4rem col non-flexible footer-col flex-item va-fs span_4_of_12 span_4_of_12-tl span_6_of_12-tp span_6_of_12-sl span_12_of_12-sp js-lw-flexible-wrapper js-same-content-child anim-normal learnworlds-animated fade-in" data-node-type="column" id="el_1638552263006_4375">
                <h3 class="lw-widget-in learnworlds-heading3 learnworlds-element learnworlds-heading3-small" data-element-id="heading4Small" data-node-type="text" id="el_1638552263007_4376">CONNECT WITH US</h3>
                <ul class="lw-widget-in lw-cols oneItem-per-row multiple-rows learnworlds-element js-same-content-wrapper" data-node-type="listWrapper" data-element-id="listType1" id="el_1638552284184_4400">
            
            <li class="col no-padding flex-item with-flexible-parts non-flexible js-lw-flexible-wrapper js-same-content-child" data-node-type="listItem" id="el_1638552284208_4413">
                <span class="learnworlds-main-text-normal flexible-part learnworlds-icon lw-brand-text fab fa-twitter cursor-pointer" data-node-type="icon" id="el_1638552284216_4414"></span>
                <div class="flexible-part learnworlds-main-text learnworlds-element learnworlds-main-text-small cursor-pointer" data-node-type="text" id="el_1638552284225_4415">Twitter</div>
            </li><br>
            
        <li class="col no-padding flex-item with-flexible-parts non-flexible js-lw-flexible-wrapper js-same-content-child" data-node-type="listItem" id="el_1638552343268_4450">
                <span class="learnworlds-main-text-normal flexible-part learnworlds-icon lw-brand-text fab fa-linkedin-in cursor-pointer" data-node-type="icon" id="el_1638552343267_4448"></span>
                <div class="flexible-part learnworlds-main-text learnworlds-element learnworlds-main-text-small cursor-pointer" data-node-type="text" id="el_1638552343268_4449">LinkedIn</div>
            </li><br><li class="col no-padding flex-item with-flexible-parts non-flexible js-lw-flexible-wrapper js-same-content-child" data-node-type="listItem" id="el_1670440809116_1003">
                <span class="learnworlds-main-text-normal flexible-part learnworlds-icon lw-brand-text fas fa-rss" data-node-type="icon" id="el_1670440809116_1001"></span>
                <a class="js-linked-node learnworlds-main-text learnworlds-main-text-small" href="https://dutchengineer.substack.com" target="_blank"><div class="flexible-part learnworlds-main-text learnworlds-element learnworlds-main-text-small cursor-pointer" data-node-type="text" id="el_1670440809116_1002">Blog</div></a>
            </li></ul>
            </div>

        </div>

        

    </div>
</section>


    
</footer>