<nav class="lw-topbar-menu  with-hover      ">
	<section class="js-learnworlds-section learnworlds-section lw-topbar stretched-bg js-change-image-node transparent-onStart lw-dark-bg sticky-topbar" data-section-id="topbar1" data-magic="background-image" id="section_1564405816535_1">

		<div class="lw-h-row js-same-content-wrapper">
	
			<div class="learnworlds-section-content js-learnworlds-section-content wide">
				<div class="lw-cols js-same-content-wrapper" data-node-type="columnWrapper" id="el_1638551124617_4203">
	
					<div class="lw-topbar-logo-col col flex-item with-flexible-parts ai-s flex-none justify-content-flex-start js-same-content-child" data-node-type="column" id="el_1593094758321_15">
						<div class="lw-topbar-logo-wrapper flex-item with-flexible-parts va-c">
							<a class="js-linked-node" href="/home"><img class="learnworlds-element lw-logo js-change-image-node cursor-pointer" data-node-type="image" data-magic="image" id="el_1593094758324_16" src="https://lwfiles.mycourse.app/6390a28b12906a54205bb722-public/5a232bdb5ea1015b4548972f8c388fb6.png"></a>
						</div>
					</div>
	
					<div class="hide-tp hide-sl hide-sp col flex-item with-flexible-parts ai-s flex-1 js-same-content-child learnworlds-align-center" data-node-type="column" id="el_1593094758327_17"></div>
	
					<div class="hide-tp hide-sl hide-sp col flex-item with-flexible-parts ai-s flex-1 justify-content-flex-end learnworlds-align-right js-same-content-child" data-node-type="column" id="el_1593094758407_18">
						<div class="flex-item with-flexible-parts va-c"> 
							<div class="lw-topbar-menu-wrapper flexible-cnt-wrapper js-lw-flexible-wrapper js-component link-distance-mega" data-node-type="navigation-menu" id="component_222222222222_0">
	<nav class="lw-topbar-menu  with-hover      ">
		<ul class="lw-topbar-options with-flexible-parts align-items-center">
			
	
				
					
				
	
				
					
				
	
				
					
				
	
				
	
				
	
	
				<li class="lw-topbar-option">
					
						<a id="menuItem6" style="font-size:1.3rem;font-weight:700;" href="/home" class="lw-topbar-option-link learnworlds-main-text-normal js-menu-item lw-brand-text text-only  js-linked-node" data-interactive-link-type="pagelink" data-interactive-link-var1="home" data-interactive-link-var2="" data-interactive-link-window="default">
							<span class="lw-topbar-option-link-lbl nowrap">HOME</span>
							
						</a>
					
	
					
						
					
	
					
				</li>
			
	
				
					
				
	
				
					
				
	
				
					
				
	
				
	
				
	
	
				<li class="lw-topbar-option">
					
						<a id="menuItem7" style="font-size:1.3rem;font-weight:700;" href="/courses" class="lw-topbar-option-link learnworlds-main-text-normal js-menu-item lw-brand-text text-only  js-linked-node" data-interactive-link-type="pagelink" data-interactive-link-var1="courses" data-interactive-link-var2="" data-interactive-link-window="default">
							<span class="lw-topbar-option-link-lbl nowrap">COURSES</span>
							
						</a>
					
	
					
						
					
	
					
				</li>
			
	
				
					
				
	
				
					
				
	
				
					
				
	
				
	
				
	
	
				<li class="lw-topbar-option">
					
						<a id="menuItem5" style="font-size:1.3rem;font-weight:700;" href="javascript:void(0)" class="lw-topbar-option-link learnworlds-main-text-normal js-menu-item lw-brand-text text-only  js-linked-node" data-interactive-link-type="openformslink" data-interactive-link-var1="signin" data-interactive-link-var2="" data-interactive-link-window="default">
							<span class="lw-topbar-option-link-lbl nowrap">SIGN IN</span>
							
						</a>
					
	
					
						
					
	
					
				</li>
			
	
				
					
				
	
				
					
				
	
				
					
				
	
				
	
				
	
	
				<li class="lw-topbar-option">
					
						<a id="menuItem_1638551161296_4211" style="font-size:1.3rem;border-radius:15px;font-weight:700;" href="javascript:void(0)" class="lw-topbar-option-link learnworlds-main-text-normal js-menu-item learnworlds-button-solid-brand button-like  js-linked-node" data-interactive-link-type="openformslink" data-interactive-link-var1="signup" data-interactive-link-var2="" data-interactive-link-window="default">
							<span class="lw-topbar-option-link-lbl nowrap">SIGN UP</span>
							
						</a>
					
	
					
						
					
	
					
				</li>
			
		</ul>
	</nav>
	</div>
						</div>
					</div>
	
				</div>
			</div>
	
			<div class="js-lw-topbar-hamburger-wrapper js-component bgcolor-inherit" data-node-type="hamburger-menu" id="component_1593094758256_2"><!----></div>
	
	
		</div>
	
	
	</section>
</nav>