{{ define "main" }}

<body class="active-sitetemplate slug-path-player unit-build-a-successful-portfolio_63a8b62926013" style="font-family: 'Nunito Sans', sans-serif;">
	<!-- full width loading -->
	<!-- <div class="asynch-loading-wrapper">
		<div class="asynch-loading start-asynch-loading"></div>
		<div class="asynch-loading end-asynch-loading"></div>
	</div> -->

	<!--topbar-->
	<div id="topBarWrapper" class="custom-clr1-bg">
		<header class="top-bar">
			
			<div id="logoNav" class="-logo-bar" title="Navigation panel">
			</div>
			<div id="appTitle" class="-app-title custom-clr11-text top-bar-col">
				
			</div>
			<div class="-hamburger-menu">
				<ul id="hamburgerSideNav" class="-hamburger-menu-list custom-clr1-bg">
					<div class="close white-close"></div>
					<li id="" class="-hamburger-perpage">

					</li>
					<!-- <li id="dailynews_rmenu" class="-hamburger-perpage">
						<ul  >
							<li  onclick="newspaper.reload('all')" class="hamburger-bar-button" title="All Articles">
								<img class="bar-button-icon" src="https://cdn.mycourse.app/v2.19.13/images/daily-all-articles.png"/>
								<span class="bar-button-label custom-clr11-text ellipsis-text">All Articles</span>
							</li>
							<li id="dailyPopular" onclick="newspaper.reload('filter=popular')" class="hamburger-bar-button" title="Popular">
								<img class="bar-button-icon" src="https://cdn.mycourse.app/v2.19.13/images/daily-popular.png"/>
								<span class="bar-button-label custom-clr11-text ellipsis-text">Popular</span>
							</li>
							<li id="dailyFavorites" onclick="newspaper.reload('filter=favorite')" class="hamburger-bar-button" title="Favorites">
								<img class="bar-button-icon" src="https://cdn.mycourse.app/v2.19.13/images/daily-favorites.png"/>
								<span class="bar-button-label custom-clr11-text ellipsis-text">Favorites</span>
							</li>
						</ul>
					</li> -->
					<li id="inbox_rmenu" class="-hamburger-perpage">
						<ul >
							<li id="gt_newmessage" onclick='messageLoad(null)' class="-new-msg hamburger-bar-button" title="New message">
								<img class="bar-button-icon" src="https://cdn.mycourse.app/v2.19.13/images/new-message.png"/>
								<span id="newMsg" class="bar-button-label custom-clr11-text ellipsis-text">New message</span>
							</li>
						</ul>
					</li>
					<li id="ebook_rmenu" class="-hamburger-perpage">
						<ul >
							<li id="eBookContents" onclick='pagesObj.showContents()' onmousedown='cancelBubbling(event)' class="window-contents hamburger-bar-button" title="Course Contents">
								<img class="bar-button-icon" src="https://cdn.mycourse.app/v2.19.13/images/contents.png" style="margin-top: 2px;"/>
								<span class="bar-button-label custom-clr11-text ellipsis-text">Contents</span>
							</li>
							<li id="eBookBookmark" onclick="utools.toogleBookmark()" class="hamburger-bar-button" title="Bookmark">
								<img class="bar-button-icon" src="https://cdn.mycourse.app/v2.19.13/images/e-book-bookmark.png" style="margin-left: 3px; margin-right: 7px;"/>
								<span class="bar-button-label custom-clr11-text ellipsis-text">Bookmark</span>
							</li>
							<li id="eBookSettings" onclick="utools.showReadingSettings(event);" class="hamburger-bar-button" title="Settings">
								<img class="bar-button-icon" src="https://cdn.mycourse.app/v2.19.13/images/e-book-settings.png"/>
								<span class="bar-button-label custom-clr11-text ellipsis-text">Settings</span>
							</li>
						</ul>
					</li>
					<li id="ivideo_rmenu" class="-hamburger-perpage">
						<ul >
							<li class="hamburger-bar-button window-contents" onclick="vplayer.showContents()" onmousedown="cancelBubbling(event)" title="Course Contents">
								<img class="bar-button-icon" src="https://cdn.mycourse.app/v2.19.13/images/contents.png">
								<span class="bar-button-label custom-clr11-text ellipsis-text">Contents</span>
							</li>
							<li class="hamburger-bar-button window-contents" onclick="vplayer.changeScreenSize('fullScreen')" onmousedown="cancelBubbling(event)" title="Full Screen">
								<img class="bar-button-icon" src="https://cdn.mycourse.app/v2.19.13/images/full-screen.png">
								<span class="bar-button-label custom-clr11-text ellipsis-text">Full Screen</span>
							</li>
						</ul>
					</li>
					<li class="-hamburger-user-choices">
						<ul>
							<li class="hamburger-bar-button js-mobile-ok" onmousedown="window.location.href = wwwelopersUrl('profile')">
								<img class="bar-button-icon" src="https://cdn.mycourse.app/v2.19.13/images/profile-small-icon.png" style="margin-bottom:2px;"/>
								<span class="bar-button-label custom-clr11-text ellipsis-text">Profile</span>
							</li>
							<li class="hamburger-bar-button" onmousedown="window.location.href = wwwelopersUrl('account')">
								<img class="bar-button-icon" src="https://cdn.mycourse.app/v2.19.13/images/account-small-icon.png" style="margin-bottom:2px;"/>
								<span class="bar-button-label custom-clr11-text ellipsis-text">Your Account</span>
							</li>

							<li class="hamburger-bar-button tp_instructor_contact js-instructor-topbar js-mobile-ok" onmousedown="topBar.ask('instructors')" style="display:none">
								<img class="bar-button-icon" src="https://cdn.mycourse.app/v2.19.13/images/teacher-small-icon.png"/>
								<span class="bar-button-label custom-clr11-text ellipsis-text">Ask Instructors</span>
							</li>



							<li class="hamburger-bar-button instructor-hamburger-bar-button js-instructors-topbar" style="display:none;">
								<img class="bar-button-icon" src="https://cdn.mycourse.app/v2.19.13/images/teacher-small-icon.png"/>
								<span class="bar-button-label custom-clr11-text ellipsis-text">Ask Instructors
									<ul class="-hamburger-user-choices -instructor-hamburger-user-choices js-instructors-topbar-choices">

									</ul>
								</span>
							</li>



							<li class="hamburger-bar-button tp_support_contact js-mobile-ok" onmousedown="topBar.ask('support')" style="display:none">
								<img class="bar-button-icon" src="https://cdn.mycourse.app/v2.19.13/images/support-small-icon.png"/>
								<span class="bar-button-label custom-clr11-text ellipsis-text">Tech Support</span>
							</li>
							<li class="hamburger-bar-button js-mobile-ok" onmousedown="window.location.href=wwwelopersUrl('signout')">
								<img class="bar-button-icon" src="https://cdn.mycourse.app/v2.19.13/images/sign-out.png"/>
								<span class="bar-button-label custom-clr11-text ellipsis-text">Sign out</span>
							</li>
						</ul>
						<div id="pagesMenuSmall" style="display:none;">

						</div>
					</li>
				</ul>
			<!--	dailyNews ebook course inbox ivideo profile social starting -->
			</div>
			<div id="appFunctions" class="-app-functions top-bar-col"></div>
			<div class="-basic-functions top-bar-col">



				<div id="barPages" class="top-bar-hover basic-function" title="Pages" style="display:none;">
					<img class="top-bar-icon" src="https://cdn.mycourse.app/v2.19.13/images/bar-pages.png"/>
					<span class="bar-button-label -pages-label">Pages</span>
					<div id="pagesMenu">
						<ul class="user-menu -top-bar-menu custom-clr1-bg">
							
						</ul>
					</div>
				</div>

				<div id="socialWrapperBar" class="top-bar-hover basic-function incontextclick" title="Discuss" style="border-left: none;">
					<div class="top-bar-notif"><span id="topBarPostsNum"></span></div>
					<div id="barSocial">
						<img class="top-bar-icon" src="https://cdn.mycourse.app/v2.19.13/images/bar-social.png"/>
						<span class="bar-button-label -discuss-label custom-clr11-text">Discuss</span>
					</div>
					
					<div id="socialNetworkWrapper">
						<div class="close white-close black-bg-rounded-close" onclick="$(this).parent().hide()"></div>
						<div class="snWrapper2">
							<div id="postsContainer">
		<!-- --------------------------------------------------------- postform -------------------------------------- -->

				<div id="postForm" style="display: none">
					<div id="postformAvatar" class="my-avatar avatar" ></div>
					<div class="-text lw-b-1px-fadeout90">
						<textarea class="post-form-textarea data learnworlds-input-normal" data-key="text" placeholder="Type your message, share images, ask questions"></textarea>
					</div>
					
					<div id="post_form_objects" id="typeOfShare">

						<div id="addLink" class="object_form" data-key="link">
							<div id="linkWrapper">
								<div class="link-image"></div>
								<div class="link-context">
									<span class="link-title learnworlds-main-text-very-small"></span>
									<a href="javascript:void(0);" class="link clr2-text learnworlds-main-text-very-small"></a>
									<span class="link-desc learnworlds-main-text-very-small"></span>
								</div>
								<div class="gray-close close" onclick="socialNetwork.postFormTabReset('addLink')"></div>
							</div>

							<div class="-attach">
								<input type="text" class="learnworlds-input-small" placeholder="Write the url"/>
								<div class="-attach-button learnworlds-button-small" onclick="socialNetwork.linkAdd()">
									<div class="ellipsis-text">attach</div>
								</div>
							</div>

						</div>

						<div id="addImage" class="object_form" data-key="image">
							<div class="close gray-close" onclick="socialNetwork.postFormTabReset('addImage')"></div>
							<div class="soc-image"></div>
							<div class="-add-image-button learnworlds-button-small" onclick="$('#addImage_btn').click()">
								<div class="ellipsis-text">add image</div>
							</div>
							<!--<div class="-drag-drop"><span class="icon"></span><span>Drag n' drop images here to upload</span></div>-->
							<input id="addImage_btn" type="file" name="file" size="0" style="display:none"/>
						</div>

						<div id="addTip" class="object_form" data-key="tip">
							<div class="close gray-close" onclick="socialNetwork.postFormTabReset('addTip')"></div>
							<div class="soc-image" onmousedown="cancelBubbling(event)" onclick="socialNetwork.tipAdd()"></div>
							<div class="edit-text">click here to edit</div>
						</div>

						<div id="addCode" class="object_form" data-key="livecode">
							<div class="close gray-close" onclick="socialNetwork.postFormTabReset('addLC')"></div>
							<div class="soc-image" onmousedown="cancelBubbling(event)" onclick="socialNetwork.lcAdd()"></div>
							<div class="edit-text">click here to edit</div>
						</div>

						<div id="addPoll" class="object_form" data-key="poll" data-lastnum="4">
							<div class="close gray-close" onclick="socialNetwork.postFormTabReset('addPoll')"></div>
							<div class="poll-text" style="display: none">
								<textarea  class="-poll-desc" placeholder="Write the question" autofocus></textarea>
							</div>

							<div id="pollChoices" >

								
								<div class="poll-choice poll-choice-form">
									<div>
										<input type="radio" id="ch_1" name="poll-form"/>
										<label for="ch_1" class="clr2-border-fd-60 clr2-bg-fd-80"></label>
										<input type="text" class="learnworlds-input-small" placeholder="choice 1"/>
									</div>
									<div class="delete-choice gray-close" onclick="socialNetwork.pollDeleteChoice($(this))"></div>
								</div>


								<div class="poll-choice poll-choice-form">
									<div>
										<input type="radio" id="ch_2" name="poll-form"/>
										<label for="ch_2" class="clr2-border-fd-60 clr2-bg-fd-80"></label>
										<input type="text" class="learnworlds-input-small" placeholder="choice 2"/>
									</div>
									<div class="delete-choice gray-close" onclick="socialNetwork.pollDeleteChoice($(this))"></div>
								</div>

								<div class="poll-choice poll-choice-form">
									<div>
										<input type="radio" id="ch_3" name="poll-form"/>
										<label for="ch_3" class="clr2-border-fd-60 clr2-bg-fd-80"></label>
										<input type="text" class="learnworlds-input-small" placeholder="choice 3"/>
									</div>
									<div class="delete-choice gray-close" onclick="socialNetwork.pollDeleteChoice($(this))"></div>
								</div>

								<div class="poll-choice poll-choice-form">
									<div>
										<input type="radio" id="ch_4" name="poll-form"/>
										<label for="ch_4" class="clr2-border-fd-60 clr2-bg-fd-80"></label>
										<input type="text" class="learnworlds-input-small" placeholder="choice 4"/>
									</div>
									<div class="delete-choice gray-close" onclick="socialNetwork.pollDeleteChoice($(this))"></div>
								</div>

								<div class="add-choice clr2-text" onclick="socialNetwork.pollAddChoice($(this))">+</div>
								
							</div>
						</div>

					</div>

					<div id="waitingWrapper" class="waiting">
						<span>waiting...</span>
						<div class="-waiting-spinner">
							<div class="spinner-piece -spinner-piece1"></div>
							<div class="spinner-piece -spinner-piece2"></div>
							<div class="spinner-piece -spinner-piece3"></div>
							<div class="spinner-piece -spinner-piece4"></div>
							<div class="spinner-piece -spinner-piece5"></div>
							<div class="spinner-piece -spinner-piece6"></div>
							<div class="spinner-piece -spinner-piece7"></div>
							<div class="spinner-piece -spinner-piece8"></div>
							<div class="spinner-piece -spinner-piece9"></div>
							<div class="spinner-piece -spinner-piece10"></div>
							<div class="spinner-piece -spinner-piece11"></div>
							<div class="spinner-piece -spinner-piece12"></div>
						</div>
					</div>

					<div id="postFormChoices" class="-share-choices">

						<div class="-share-choices-btns">
							<div id="shareLink" class="share-choice-wrapper" title="Add a url" onclick="socialNetwork.postFormTabShow('addLink')">
								<span class="share-choice-img"></span>
								<span class="share-choice-desc ellipsis-text learnworlds-main-text-very-small">url</span>
							</div>
							
							<div id="shareImage" class="share-choice-wrapper" title="Add an image" onclick="socialNetwork.postFormTabShow('addImage')">
								<span class="share-choice-img"></span>
								<span class="share-choice-desc ellipsis-text learnworlds-main-text-very-small">img</span>
							</div>

							<div id="sharePoll" class="share-choice-wrapper" title="Create a poll" onclick="socialNetwork.postFormTabShow('addPoll')">
								<span class="share-choice-img"></span>
								<span class="share-choice-desc ellipsis-text learnworlds-main-text-very-small">poll</span>
							</div>

							<div id="shareCode" class="share-choice-wrapper" title="Share a code example" onclick="socialNetwork.postFormTabShow('addLC')">
								<span class="share-choice-img"></span>
								<span class="share-choice-desc learnworlds-main-text-very-small">code</span>
							</div>

							<div id="shareTip" class="share-choice-wrapper" title="Share a code tip" onclick="socialNetwork.postFormTabShow('addTip')">
								<span class="share-choice-img"></span>
								<span class="share-choice-desc">tip</span>
							</div>
						</div>

						<div class="-share-button clr2-bg clr2-bg-hover-ln-4 learnworlds-button-solid-brand learnworlds-button-small">
							<nav class="-share-button-text">
								<span class="ellipsis-text">share</span>
							</nav>
							<div class="-share-where-wrapper">
								<ul class="-share-where">
									<li class="-share-all">All</li>
								</ul>
							</div>
						</div>
					</div>

				</div>

				<!-- ---------------------------------------------------------- end of post_form --------------------------------- -->



				<!-- ----------------------------------------------------------- new posts notification -------------------------- -->
				
				<div id="postsNotifications" class="new-post learnworlds-main-text-small" onclick="socialNetwork.postsDisplayNew()"></div>				

				<!--------------------------------------------------------------- post_feed -------------------------------------- -->
				<div id="postsFeed">
					<div class="post-wrapper" style="display:none">	
						<div id="initialPost" class="post">
							<div class="main-post">
								<div id="initialText" class="post-text learnworlds-main-text-small">
									<p>Break the silence!</p>
								</div>
							</div>
						</div>
					</div>

					<!------------------------------------------- list of posts goes here ---------------------------------------->
					
				</div>

				<div id="listPeopleHover">
					<div id="memberNamesWrapper"></div>
				</div>	

	</div>

						</div>
					</div>
				</div>
				<div id="barInboxP" class="top-bar-hover basic-function" title="Inbox">
					<div class="top-bar-notif inboxclick"><span id="topBarMailsNum"></span></div>
					<div id="barInbox" class="inboxclick">
						<img class="top-bar-icon" src="https://cdn.mycourse.app/v2.19.13/images/bar-inbox.png"/>
					</div>
					<span class="basic-function-lbl"></span>
					<div id="msguiHelper" style="display: none;"></div>

					<div id="topBarMsgsWrapper" style="/* display: none; */"></div>

						

				</div>
				<div id="userAvatarp" class="top-bar-hover basic-function ">
					<div id="userAvatar" class="avatar">
					</div>
					<div  id="uaguiHelper"></div>
					<div id="userMenu">
						<ul class="user-menu -top-bar-menu custom-clr1-bg">
								<li class="user-menu-choice clr2-bg-hover custom-clr11-text js-mobile-ok js-profile-menu-choice" onmousedown="window.location.href = wwwelopersUrl('profile')">Profile</li>

								<li class="user-menu-choice clr2-bg-hover custom-clr11-text" onmousedown="window.location.href = wwwelopersUrl('account')">Your Account</li>

								<li class="user-menu-choice clr2-bg-hover custom-clr11-text tp_instructor_contact js-instructor-topbar hidden" onmousedown="topBar.ask('instructors')" >Ask Instructors
								</li>

								<li class="user-menu-choice instructor-user-menu-choice clr2-bg-hover custom-clr11-text js-instructors-topbar" style="display:none;">Ask Instructors
									<ul class="user-menu instructors-submenu custom-clr1-bg js-instructors-topbar-choices">
									</ul>
								</li>

								<li class="user-menu-choice clr2-bg-hover custom-clr11-text tp_support_contact hidden" onmousedown="topBar.ask('support')">Tech Support</li>
								<li class="user-menu-choice clr2-bg-hover custom-clr11-text js-mobile-ok" onmousedown="window.location.href=wwwelopersUrl('signout')">Sign out</li>
						</ul>
					</div>

				</div>
				
			</div>
		</header>
	</div>


	<!-- top-bar-subscription -->
	<div class="top-bar-subscription-wrapper" style="display:none">
		<div class="top-bar-subscription">
			<span class="subscription-label">
				Subscribe now!
			</span>
			<a href="/subscribe" class="subscription-btn">Start Learning</a>
		</div>
	</div>



	<!--navPanel-->
	<div id="navPanel" class="-user-nav-panel clear-float">
	    <div class="close white-close"></div>
	    <div class="nav-panel-col nav-panel-col1">
	        <div class="nav-panel-tag">Student menu</div>
	        <div id="navTiles">
	            <div id="home" class="nav-tile-box nav-tile-app-box" data-analytics="Home" data-path="/?start=1">
	                <div class="nav-tile-icon"></div>
	                <div class="bottom-title">
	                    <div class="app-title ellipsis-text">Home</div>
	                </div>
	            </div>
	            <div id="dailyNews" class="nav-tile-box nav-tile-app-box" data-analytics="Dailynews" data-url="dialynews">
	                <div class="nav-tile-icon"></div>
	                <div class="bottom-title">
	                    <div class="app-title ellipsis-text">Daily News</div>
	                </div>
	            </div>
	            <div id="socialize" class="nav-tile-box nav-tile-app-box" data-analytics="Community" data-url="social" availableLock>
	                <div class="nav-tile-icon"></div>
	                <div class="bottom-title">
	                    <div class="app-title ellipsis-text">Community</div>
	                </div>
	            </div>
	            <div id="wwworkPad" class="nav-tile-box nav-tile-app-box" data-analytics="Workpad" data-url="workpad">
	                <div class="nav-tile-icon"></div>
	                <div class="bottom-title">
	                    <div class="app-title ellipsis-text">Best resources</div>
	                </div>
	            </div>
	            <div id="mirror" class="nav-tile-box nav-tile-app-box" data-analytics="Profile" data-url="profile">
	                <div class="nav-tile-icon"></div>
	                <div class="bottom-title">
	                    <div class="app-title ellipsis-text">Profile</div>
	                </div>
	            </div>
	            <div id="communicate" class="nav-tile-box nav-tile-app-box" data-analytics="Inbox" data-url="inbox">
	                <div class="nav-tile-icon"></div>
	                <div class="bottom-title">
	                    <div class="app-title ellipsis-text">Inbox</div>
	                </div>
	            </div>
	            <!--<div id="playNlearn" class="nav-tile-box notavailable" data-url="playNlearn">
	                <div class="nav-tile-icon"></div>
	                <div class="bottom-title">
	                    <div class="app-title">Play & Learn</div>
	                </div>
	                <div class="nav-coming-soon">coming soon</div>
	            </div>-->
	            <div id="people" class="nav-tile-box nav-tile-app-box" data-analytics="People" data-url="people">
	                <div class="nav-tile-icon"></div>
	                <div class="bottom-title">
	                    <div class="app-title ellipsis-text">People</div>
	                </div>
	            </div>
	            <div id="signout" class="nav-tile-box nav-tile-app-box" data-analytics="SignOut" data-url="signout">
	                <div class="nav-tile-icon"></div>
	                <div class="bottom-title">
	                    <div class="app-title ellipsis-text">Sign out</div>
	                </div>
	            </div>

	        </div>
	        <div id="navCoursesWrapper">
	            <div id="leftArrowCourses" class="navp-arrow-wrapper">
	                <div class="table">
	                    <div class="table-cell">
	                        <div id="navpArrowLeft" class="navp-arrow"></div>
	                    </div>
	                </div>
	            </div>
	            <div id="navCourses">
	                <div id="navCoursesContainer">
	                </div>


	            </div> <!-- end of nav courses -->
	            <div id= "rightArrowCourses" class="navp-arrow-wrapper">
	                <div class="table">
	                    <div class="table-cell">
	                        <div id="navpArrowRight" class="navp-arrow"></div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="nav-panel-col nav-panel-col2 js-admin-panel-buttons">
	        <div id="dashboardTile" class="nav-tile-box admin-nav-tile-box nav-tile-app-box js-admin-panel-button" data-analytics="AdminDashboard">
	        	<div class="nav-panel-tag js-panel-role-tag">Admin</div>
	            <div class="nav-tile-icon"></div>
	            <div class="bottom-title">
	                <div class="app-title ellipsis-text">Dashboard</div>
	            </div>
	        </div>
	        <div id="usersTile" class="nav-tile-box admin-nav-tile-box nav-tile-app-box js-admin-panel-button" data-analytics="AdminUsers">
	            <div class="nav-tile-icon"></div>
	            <div class="bottom-title">
	                <div class="app-title ellipsis-text">All Learners</div>
	            </div>
	        </div>
	        <div id="coursesTile" class="nav-tile-box admin-nav-tile-box nav-tile-app-box js-admin-panel-button" data-analytics="AdminCourses">
				<div class="nav-panel-tag js-panel-role-tag" style="display:none">Admin</div>
	            <div class="nav-tile-icon"></div>
	            <div class="bottom-title">
	                <div class="app-title ellipsis-text">All Courses</div>
	            </div>
	        </div>
	    </div>
	</div>


{{ end }}