{{ define "main" }}
<style>
    #el_card {
  margin-bottom: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-color: #613DC1;
}

.learnworlds-heading3-small {
  font-family: "Work Sans";
  font-weight: bold;
  font-size: 1.80rem;
  letter-spacing: 0.00rem;
  line-height: 1.4;
  text-transform: none;
}

#el_1643202554154_433 {
  padding-top: 35px;
  padding-bottom: 35px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-right: 35px;
  padding-left: 35px;
}

</style>

<body class="slug-about active-sitetemplate">

    <div id="pageContainer">
        <div id="pageContent" class="page-content normal" ref="pageContent" style="scroll-padding-top: 86px;">
            
            <section class="js-learnworlds-section learnworlds-section stretched-bg learnworlds-size-normal js-change-image-node lw-dark-bg learnworlds-align-left" data-section-id="tpl11" data-magic="background-image" id="section_1645799149157_648" style="background-image: url(&quot;https://cdn.mycourse.app/images/site-templates/017820e5a3ce56130baa722873db1d9b.jpeg&quot;);"><div class="js-video-wrapper" style="display: none;"></div>
<div class="learnworlds-section-overlay js-learnworlds-overlay lw-dark-bg" style=""></div>
<div class="learnworlds-section-content js-learnworlds-section-content wide">
    <div class="lw-cols one-row one-row-tl one-row-tp one-row-sl one-row-sp main align-items-stretch js-same-content-wrapper" data-node-type="columnWrapper" id="el_1645799149172_657">
        <div class="col span_12_of_12-all flex-item standalone js-change-image-node js-lw-flexible-wrapper js-same-content-child learnworlds-align-left" data-node-type="column" id="el_1645799149173_658">
            
            
            
            

            
            
            



            
            
            
            <h1 class="lw-widget-in learnworlds-heading learnworlds-heading-large learnworlds-element anim-normal learnworlds-animated fade-in" data-element-id="heading1Large" data-node-type="text" id="el_1645799226837_798">
About Driving Data
                
            
        
    

</h1>
<div class="lw-widget-in learnworlds-main-text learnworlds-element learnworlds-main-text-large" data-element-id="textNormal" data-node-type="text" id="el_1646057431465_355">Our online school for data science is the perfect place to learn<div>the fundamentals, master data analysis, and expand your</div>
<div>knowledge of data science.&nbsp;</div>
</div>
<div data-node-type="buttonWrapper" class="learnworlds-button-wrapper lw-content-block learnworlds-element js-same-content-wrapper anim-normal learnworlds-animated fade-in" id="el_1645799170777_715"><a class="js-linked-node" href="/courses"><button class="learnworlds-button learnworlds-button-solid-brand learnworlds-button-normal learnworlds-element js-same-content-child cursor-pointer auto-width" data-node-type="button" id="el_1645799170772_713">
<span data-node-type="text" id="el_1645799170772_712">
   View Our Courses
                    
                
            
        
    
</span>
</button></a></div>
<div data-element-id="columnsType6" class="lw-widget-in empty-cols lw-cols align-items-stretch learnworlds-element js-same-content-wrapper multiple-rows-tp multiple-rows-sl multiple-rows multiple-rows-tl" data-node-type="columnWrapper" id="el_1645799180522_769">
        <div class="col span_4_of_12 span_4_of_12-tl span_6_of_12-tp span_12_of_12-sl span_12_of_12-sp flex-item js-same-content-child lw-dark-bg anim-normal va-fs non-flexible learnworlds-animated fade-in" data-node-type="column" id="el_card">
<span data-node-type="icon" class="standalone normal learnworlds-icon fas fa-shapes lw-brand-text" data-element-id="icon-chart-line" id="el_card"></span>
<h3 class="lw-widget-in learnworlds-heading3 learnworlds-heading3-small learnworlds-element" data-element-id="heading3Small" data-node-type="text" id="el_card"> Practical approach </h3>
<div class="lw-widget-in learnworlds-main-text learnworlds-main-text-normal learnworlds-element" data-element-id="textNormal" data-node-type="text" id="el_1645799180521_754">
    Our training is designed to provide the skills in a practical approach. Our students' success is our best asset in showing the quality of our training.
                    
                
            
        
    
</div>
</div>
<div class="col span_4_of_12 span_4_of_12-tl span_6_of_12-tp span_12_of_12-sl mb-4rem-sl span_12_of_12-sp mb-4rem-sp flex-item js-same-content-child lw-dark-bg anim-normal va-fs non-flexible learnworlds-animated fade-in" data-node-type="column" id="el_card">
<span data-node-type="icon" class="standalone normal learnworlds-icon fas fa-window-restore lw-brand-text" data-element-id="icon-chart-line" id="el_card"></span>
<h3 class="lw-widget-in learnworlds-heading3 learnworlds-heading3-small learnworlds-element" data-element-id="heading3Small" data-node-type="text" id="el_card">
   Material you'll love
                    
                
            
        
    
</h3>
<div class="lw-widget-in learnworlds-main-text learnworlds-main-text-normal learnworlds-element" data-element-id="textNormal" data-node-type="text" id="el_card">
   Video interactions, note-taking, interactive ebooks, self-assessment, certificates, SCORM and much more.
                    
                
            
        
    
</div>
</div>
        
    <div class="col span_4_of_12 span_4_of_12-tl span_6_of_12-tp span_12_of_12-sl mb-4rem-sl span_12_of_12-sp mb-4rem-sp flex-item js-same-content-child lw-dark-bg anim-normal va-fs non-flexible learnworlds-animated fade-in" data-node-type="column" id="el_card">
<span data-node-type="icon" class="standalone normal learnworlds-icon fas fa-grin lw-brand-text" data-element-id="icon-laptop" id="el_card"></span>
<h3 class="lw-widget-in learnworlds-heading3 learnworlds-heading3-small learnworlds-element" data-element-id="heading3Small" data-node-type="text" id="el_card">
   Satisfaction guaranteed
                    
                
            
        
    
</h3>
<div class="lw-widget-in learnworlds-main-text learnworlds-main-text-normal learnworlds-element" data-element-id="textNormal" data-node-type="text" id="el_card">
    Studying with us will help you learn how to create, capture and deliver value in a digital world. You'll leave with smart strategies to optimize your performance and satisfaction.
                    
                
            
        
    
</div>
</div>
</div>

            
        </div>
    </div>
</div>
</section><section class="js-learnworlds-section learnworlds-section stretched-bg js-change-image-node lw-dark-bg learnworlds-align-left learnworlds-size-normal" data-magic="background-image" data-section-id="tpl142" id="section_1643202526871_394"><div class="js-video-wrapper" style="display: none;"></div>
<div class="learnworlds-section-overlay lw-dark-bg js-learnworlds-overlay" style="display: none;"></div>

<div class="learnworlds-section-content js-learnworlds-section-content wide">
    <div data-element-id="columnsType5" class="lw-widget-in empty-cols lw-cols align-items-stretch learnworlds-element one-row one-row-tl one-row-tp one-row-sl one-row-sp js-same-content-wrapper" data-node-type="columnWrapper" id="el_1643202554145_431" style="">
        <div class="col span_12_of_12 span_12_of_12-tl span_12_of_12-tp span_12_of_12-sl span_12_of_12-sp standalone flex-item flexible js-same-content-child va-c lw-dark-bg auto-repeated-bg anim-normal learnworlds-animated fade-in" data-node-type="column" id="el_1643202554154_433" style="background-image: url(&quot;https://cdn.mycourse.app/images/site-templates/0171634101b7ee7af7bcabe0786396c2.png&quot;);">
<div class="learnworlds-section-overlay js-learnworlds-overlay lw-dark-bg" style=""></div>
<div class="lw-cols one-row one-row-tl multiple-rows-sl multiple-rows-sp main js-same-content-wrapper one-row-tp" data-node-type="columnWrapper" id="el_1643202526890_403" style="">
    <div class="col span_6_of_12 span_6_of_12-tl span_12_of_12-tp mb-4rem-tp span_12_of_12-sl mb-4rem-sl span_12_of_12-sp mb-4rem-sp flex-item js-change-image-node js-lw-flexible-wrapper js-same-content-child va-c flexible" data-node-type="column" id="el_1643202526890_404">
        <h2 class="lw-widget-in learnworlds-subheading learnworlds-subheading-normal learnworlds-element" data-element-id="heading2Normal" data-node-type="text" data-magic="title" id="el_1643202526891_405">
Our mission is to empower online training
        
    

</h2>
        <div class="learnworlds-main-text learnworlds-element lw-text-color-fadeout20 learnworlds-main-text-large" data-magic="description" data-node-type="text" id="el_1643202526892_406"> We are committed to creating and <div>
    continuously improving effective learning methods
            
        
    
</div>
</div>
        <div class="lw-widget-in learnworlds-button-wrapper learnworlds-element js-same-content-wrapper" data-node-type="buttonWrapper" data-element-id="solidNormalBrandButton" id="el_1643202652127_541" style="">
            <a class="js-linked-node" href="/courses" draggable="false"><button class="learnworlds-button learnworlds-button-solid-brand learnworlds-button-normal learnworlds-element js-same-content-child cursor-pointer full-width" data-node-type="button" id="el_1643202652127_539">
                    <span data-node-type="text" id="el_1643202652127_540">
Start Learning Now
        
    

</span>
                </button></a>
        </div>
    </div>
    <div class="col span_6_of_12 span_6_of_12-tl span_12_of_12-tp span_12_of_12-sl span_12_of_12-sp flex-item js-change-image-node js-lw-flexible-wrapper js-same-content-child va-c flexible" data-node-type="column" id="el_1643202526892_407">
        <div class="lw-widget-in learnworlds-screen-wrapper learnworlds-element full in-view" data-element-id="frameScreen-1-1" data-node-type="screen" id="el_1643202617711_484" style="">
<div class="js-learnworlds-screen-element learnworlds-tablet-landscape black realistic">
    <div class="lw-screen-content">
        <div class="js-learnworlds-overlay learnworlds-bg-default-overlay lw-brand-bg" style=""></div>
        <div class="learnworlds-screen-caption bottom lw-brand-bg-fadeout60 js-lw-flexible-wrapper js-screen-caption">
            <div class="no-margin-bottom learnworlds-main-text learnworlds-main-text-small learnworlds-element" data-node-type="text" data-magic="description" id="el_1643202617709_482">
               Write your awesome label here.
                        
                    
                
            </div>
        </div>
        <div class="learnworlds-AR-16-9 learnworlds-bg-default js-change-image-node js-screen-image-wrapper" data-magic="image" style="display: none; background-image: none;"></div>
        <div class="learnworlds-AR-16-9 learnworlds-video-iframe-wrapper js-video-wrapper js-screen-video-wrapper hide-video-icon" style="display: block;">
            <span data-node-type="icon" class="large lw-brand-text learnworlds-icon lw-video-iframe-icon far fa-play-circle" data-magic="additional-icon" id="el_1643202617711_483"></span>
            
        <iframe class="learnworlds-video-iframe  js-video-frame" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" style="height:100%; width:100%;" playsinline="" webkitallowfullscreen="" allowfullscreen="" mozallowfullscreen="" src="//player.vimeo.com/video/237891530?title=0&amp;byline=0&amp;portrait=0&amp;autopause=0&amp;autoplay=1&amp;muted=1&amp;loop=1" frameborder="0"></iframe></div>
        <div class="js-embed-wrapper learnworlds-AR-16-9 lw-embed-wrapper learnworlds-element" style="display: none; overflow: hidden;"></div>
    </div>
</div>
</div>
    </div>
</div>
</div>
    </div>
</div>
</section><section class="js-learnworlds-section learnworlds-section js-change-image-node lw-dark-bg stretched-bg learnworlds-align-center learnworlds-size-normal" data-section-id="tpl138" data-magic="background-image" id="section_1641817580111_1229" style=""><div class="js-video-wrapper" style="display: none;"></div>
<div class="learnworlds-section-overlay js-learnworlds-overlay lw-brand-bg" style=""></div>
    <div class="learnworlds-section-content js-learnworlds-section-content wide">

        <div class="lw-cols mb-4rem one-row one-row-tl one-row-tp one-row-sl one-row-sp js-same-content-wrapper" data-node-type="columnWrapper" id="el_1641817580128_1246">
            <div class="col span_12_of_12-all standalone flex-item js-lw-flexible-wrapper js-same-content-child" data-node-type="column" id="el_1641817580129_1247">
                
                
                
<h2 class="lw-widget-in learnworlds-subheading learnworlds-subheading-large learnworlds-element anim-normal learnworlds-animated fade-in" data-element-id="heading2Large" data-node-type="text" id="el_1641817589583_1268"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Our Partners</font></font></font></font></h2>

            </div>
        </div>

        <div class="lw-cols one-row one-row-tl multiple-rows-tp multiple-rows-sl multiple-rows-sp js-same-content-wrapper anim-normal learnworlds-animated fade-in" data-node-type="columnWrapper" id="el_1641817580130_1249">
            <div class="col span_3_of_12 span_3_of_12-tl span_4_of_12-tp mb-4rem-tp span_6_of_12-sl mb-4rem-sl span_12_of_12-sp mb-4rem-sp flex-item js-lw-flexible-wrapper js-same-content-child" data-node-type="column" id="el_1641817580133_1250">
                
                
                <img loading="lazy" src="https://cdn.mycourse.app/images/logo-placeholder1-white.svg" class="learnworlds-image learnworlds-element js-change-image-node lw-logo" data-magic="logo-image" data-node-type="image" id="el_1641817580133_1251">
</div>
            <div class="col span_3_of_12 span_3_of_12-tl span_4_of_12-tp mb-4rem-tp span_6_of_12-sl mb-4rem-sl span_12_of_12-sp mb-4rem-sp flex-item js-lw-flexible-wrapper js-same-content-child" data-node-type="column" id="el_1641817580134_1252">
                
                
                <img loading="lazy" src="https://cdn.mycourse.app/images/logo-placeholder2-white.svg" class="learnworlds-image learnworlds-element js-change-image-node lw-logo" data-magic="logo-image" data-node-type="image" id="el_1641817580134_1253">
</div>
            <div class="col span_3_of_12 span_3_of_12-tl span_4_of_12-tp mb-4rem-tp span_6_of_12-sl mb-4rem-sl span_12_of_12-sp mb-4rem-sp flex-item js-lw-flexible-wrapper js-same-content-child" data-node-type="column" id="el_1641817580135_1254">
                
                
                <img loading="lazy" src="https://cdn.mycourse.app/images/logo-placeholder3-white.svg" class="learnworlds-image learnworlds-element js-change-image-node lw-logo" data-magic="logo-image" data-node-type="image" id="el_1641817580135_1255">
</div>
            <div class="col span_3_of_12 span_3_of_12-tl span_4_of_12-tp span_6_of_12-sl mb-4rem-sl span_12_of_12-sp mb-4rem-sp flex-item js-lw-flexible-wrapper js-same-content-child" data-node-type="column" id="el_1641817580136_1256">
                
                
                <img loading="lazy" src="https://cdn.mycourse.app/images/logo-placeholder4-white.svg" class="learnworlds-image learnworlds-element js-change-image-node lw-logo" data-magic="logo-image" data-node-type="image" id="el_1641817580136_1257">
</div>
            <div class="col span_3_of_12 span_3_of_12-tl span_4_of_12-tp span_6_of_12-sl span_12_of_12-sp mb-4rem-sp flex-item js-lw-flexible-wrapper js-same-content-child" data-node-type="column" id="el_1641817580136_1258">
                
                
                <img loading="lazy" src="https://cdn.mycourse.app/images/logo-placeholder5-white.svg" class="learnworlds-image learnworlds-element js-change-image-node lw-logo" data-magic="logo-image" data-node-type="image" id="el_1641817580138_1259">
</div>
            <div class="col span_3_of_12 span_3_of_12-tl span_4_of_12-tp span_6_of_12-sl span_12_of_12-sp flex-item js-lw-flexible-wrapper js-same-content-child" data-node-type="column" id="el_1641817580139_1260">
                
                
                <img loading="lazy" src="https://cdn.mycourse.app/images/logo-placeholder6-white.svg" class="learnworlds-image learnworlds-element js-change-image-node lw-logo" data-magic="logo-image" data-node-type="image" id="el_1641817580139_1261">
</div>
        </div>
        
    </div>

</section><section class="js-learnworlds-section learnworlds-section lw-dark-bg stretched-bg js-change-image-node learnworlds-align-center learnworlds-size-normal" data-magic="background-image" data-section-id="Quotes11" id="section_1646057526335_575"><div class="js-video-wrapper" style="display: none;"></div>
<div class="learnworlds-section-overlay lw-light-bg js-learnworlds-overlay" style="display: none;"></div>

<div class="learnworlds-section-content js-learnworlds-section-content wide">
    
    <div class="lw-cols mb-8rem one-row one-row-tl one-row-tp one-row-sl one-row-sp align-items-stretch js-same-content-wrapper" data-node-type="columnWrapper" id="el_1646057526334_503">
        <div class="col span_12_of_12 span_12_of_12-tl span_12_of_12-tp span_12_of_12-sl span_12_of_12-sp flex-item js-change-image-node js-lw-flexible-wrapper js-same-content-child anim-normal learnworlds-animated fade-in" data-node-type="column" id="el_1646057526334_504">
<h3 class="lw-widget-in learnworlds-heading3 learnworlds-element learnworlds-heading3-small" data-element-id="overline" data-node-type="text" id="el_1646057526334_505"><span class="lw-brand-text">
      Get to know us
                
            
        
    </span></h3>
<h2 class="learnworlds-subheading learnworlds-subheading-large learnworlds-element" data-magic="title" data-node-type="text" id="el_1646057526334_506">
    The Team 
            
        
    
</h2>
<div class="learnworlds-main-text learnworlds-element learnworlds-main-text-large lw-text-color-fadeout20" data-magic="description" data-node-type="text" id="el_1646057526334_507">
   We have a team of instructors made up of professionals from different
            
        
    <br>
   fields who share their knowledge to help you get started in data science. 
            
        
    
</div>
</div>
    </div>

    <div class="lw-cols one-row one-row-tl one-row-tp multiple-rows-sl multiple-rows-sp main js-same-content-wrapper" data-node-type="columnWrapper" id="el_1646057526334_508">
        
        <div class="col span_4_of_12 span_4_of_12-tl span_4_of_12-tp span_12_of_12-sl mb-4rem-sl span_12_of_12-sp mb-4rem-sp lw-padding-normal flex-item js-lw-flexible-wrapper js-same-content-child anim-normal learnworlds-animated fade-in" data-node-type="column" id="el_1646057526334_509">
<div class="learnworlds-image learnworlds-bg-default learnworlds-framed-image learnworlds-element circle learnworlds-frame-size-large stretched-bg js-change-image-node in-view" data-magic="col-image" data-node-type="framedImage" id="el_1646057526334_510" style="background-image: url(&quot;https://cdn.mycourse.app/images/site-templates/a547b2bd55604d21028edd29ac0f3c86.jpeg&quot;);"></div>
<h4 class="learnworlds-heading4 learnworlds-heading4-normal mb-2rem learnworlds-element" data-magic="title" data-node-type="text" id="el_1646057526334_511">
    Josh Stobbard 
            
        
    
</h4>
<div class="learnworlds-main-text learnworlds-element learnworlds-main-text-very-small pb-25 lw-bb-1px-brand" data-magic="col-description" data-node-type="text" id="el_1646057526334_512">
    Data Analyst 
            
        
    
</div>
<div class="learnworlds-button-wrapper lw-content-block learnworlds-element js-same-content-wrapper" data-node-type="buttonWrapper" id="el_1646057526334_513">
    <div class="learnworlds-button-wrapper lw-content-block learnworlds-element js-same-content-wrapper" data-node-type="social-links-wrapper" id="el_1646057526334_514">
        <button class="learnworlds-element lw-social-button text-only lw-brand-text js-same-content-child js-social-facebook" data-node-type="button" data-magic="social-facebook" id="el_1646057526334_515">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-facebook-f" data-node-type="icon" id="el_1646057526334_516"></span>
        </button>
        <button class="learnworlds-element lw-social-button text-only lw-brand-text js-same-content-child js-social-twitter" data-node-type="button" data-magic="social-twitter" id="el_1646057526334_517">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-twitter" data-node-type="icon" id="el_1646057526334_518"></span>
        </button>
        <button class="learnworlds-element lw-social-button text-only lw-brand-text js-same-content-child js-social-youtube" data-node-type="button" data-magic="social-youtube" id="el_1646057526334_519" style="display: none;">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-youtube" data-node-type="icon" id="el_1646057526334_520"></span>
        </button>
        <button class="learnworlds-element lw-social-button text-only lw-brand-text js-same-content-child js-social-instagram" data-node-type="button" data-magic="social-instagram" id="el_1646057526334_521">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-instagram" data-node-type="icon" id="el_1646057526334_522"></span>
        </button>
        <button class="learnworlds-element lw-social-button text-only lw-brand-text js-same-content-child js-social-linkedin" data-node-type="button" data-magic="social-linkedin" id="el_1646057526334_523">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-linkedin-in" data-node-type="icon" id="el_1646057526334_524"></span>
        </button>
        <button class="learnworlds-element lw-social-button text-only lw-brand-text js-same-content-child js-social-pinterest" data-node-type="button" data-magic="social-pinterest" id="el_1646057526334_525" style="display: none;">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-pinterest-p" data-node-type="icon" id="el_1646057526334_526"></span>
        </button>
        <button class="learnworlds-element lw-social-button text-only lw-brand-text js-same-content-child js-social-vimeo" data-node-type="button" data-magic="social-vimeo" id="el_1646057526334_527" style="display: none;">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-vimeo-v" data-node-type="icon" id="el_1646057526334_528"></span>
        </button>
        <button class="learnworlds-element lw-social-button text-only lw-brand-text js-same-content-child js-social-tikTok" data-node-type="button" data-magic="social-tiktok" id="el_1646057526335_529" style="display: none;">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-tiktok" data-node-type="icon" id="el_1646057526335_530"></span>
        </button>
    </div>
</div>
</div>

        <div class="col span_4_of_12 span_4_of_12-tl span_4_of_12-tp span_12_of_12-sl mb-4rem-sl span_12_of_12-sp mb-4rem-sp lw-padding-normal flex-item js-lw-flexible-wrapper js-same-content-child anim-normal learnworlds-animated fade-in" data-node-type="column" id="el_1646057526335_531">
<div class="learnworlds-image learnworlds-bg-default learnworlds-framed-image learnworlds-element circle learnworlds-frame-size-large stretched-bg js-change-image-node in-view" data-magic="col-image" data-node-type="framedImage" id="el_1646057526335_532" style="background-image: url(&quot;https://cdn.mycourse.app/images/site-templates/344aa814c049ac4aac79f7145317d385.jpeg&quot;);"></div>
<h4 class="learnworlds-heading4 learnworlds-heading4-normal mb-2rem learnworlds-element" data-magic="title" data-node-type="text" id="el_1646057526335_533">
   Bryan Weiner 
            
        
    
</h4>
<div class="learnworlds-main-text learnworlds-element learnworlds-main-text-very-small pb-25 lw-bb-1px-brand" data-magic="col-description" data-node-type="text" id="el_1646057526335_534">
    Business Analyst 
            
        
    
</div>
<div class="learnworlds-button-wrapper lw-content-block learnworlds-element js-same-content-wrapper" data-node-type="buttonWrapper" id="el_1646057526335_535">
    <div class="learnworlds-button-wrapper lw-content-block learnworlds-element js-same-content-wrapper" data-node-type="social-links-wrapper" id="el_1646057526335_536">
        <button class="learnworlds-element lw-social-button text-only lw-brand-text js-same-content-child js-social-facebook" data-node-type="button" data-magic="social-facebook" id="el_1646057526335_537">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-facebook-f" data-node-type="icon" id="el_1646057526335_538"></span>
        </button>
        <button class="learnworlds-element lw-social-button text-only lw-brand-text js-same-content-child js-social-twitter" data-node-type="button" data-magic="social-twitter" id="el_1646057526335_539">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-twitter" data-node-type="icon" id="el_1646057526335_540"></span>
        </button>
        <button class="learnworlds-element lw-social-button text-only lw-brand-text js-same-content-child js-social-youtube" data-node-type="button" data-magic="social-youtube" id="el_1646057526335_541" style="display: none;">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-youtube" data-node-type="icon" id="el_1646057526335_542"></span>
        </button>
        <button class="learnworlds-element lw-social-button text-only lw-brand-text js-same-content-child js-social-instagram" data-node-type="button" data-magic="social-instagram" id="el_1646057526335_543">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-instagram" data-node-type="icon" id="el_1646057526335_544"></span>
        </button>
        <button class="learnworlds-element lw-social-button text-only lw-brand-text js-same-content-child js-social-linkedin" data-node-type="button" data-magic="social-linkedin" id="el_1646057526335_545">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-linkedin-in" data-node-type="icon" id="el_1646057526335_546"></span>
        </button>
        <button class="learnworlds-element lw-social-button text-only lw-brand-text js-same-content-child js-social-pinterest" data-node-type="button" data-magic="social-pinterest" id="el_1646057526335_547" style="display: none;">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-pinterest-p" data-node-type="icon" id="el_1646057526335_548"></span>
        </button>
        <button class="learnworlds-element lw-social-button text-only lw-brand-text js-same-content-child js-social-vimeo" data-node-type="button" data-magic="social-vimeo" id="el_1646057526335_549" style="display: none;">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-vimeo-v" data-node-type="icon" id="el_1646057526335_550"></span>
        </button>
        <button class="learnworlds-element lw-social-button text-only lw-brand-text js-same-content-child js-social-tikTok" data-node-type="button" data-magic="social-tiktok" id="el_1646057526335_551" style="display: none;">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-tiktok" data-node-type="icon" id="el_1646057526335_552"></span>
        </button>
    </div>
</div>
</div>

        <div class="col span_4_of_12 span_4_of_12-tl span_4_of_12-tp span_12_of_12-sl span_12_of_12-sp lw-padding-normal flex-item js-lw-flexible-wrapper js-same-content-child anim-normal learnworlds-animated fade-in" data-node-type="column" id="el_1646057526335_553">
<div class="learnworlds-image learnworlds-bg-default learnworlds-framed-image learnworlds-element circle learnworlds-frame-size-large stretched-bg js-change-image-node in-view" data-magic="col-image" data-node-type="framedImage" id="el_1646057526335_554" style="background-image: url(&quot;https://cdn.mycourse.app/images/site-templates/b2aa79b872804d796eec0382d89cda7e.jpeg&quot;);"></div>
<h4 class="learnworlds-heading4 learnworlds-heading4-normal mb-2rem learnworlds-element" data-magic="title" data-node-type="text" id="el_1646057526335_555">
    Wendy Johnson 
            
        
    
</h4>
<div class="learnworlds-main-text learnworlds-element learnworlds-main-text-very-small pb-25 lw-bb-1px-brand" data-magic="col-description" data-node-type="text" id="el_1646057526335_556">
    Machine Learning Engineer 
            
        
    
</div>
<div class="learnworlds-button-wrapper lw-content-block learnworlds-element js-same-content-wrapper" data-node-type="buttonWrapper" id="el_1646057526335_557">
    <div class="learnworlds-button-wrapper lw-content-block learnworlds-element js-same-content-wrapper" data-node-type="social-links-wrapper" id="el_1646057526335_558">
        <button class="learnworlds-element lw-social-button text-only lw-brand-text js-same-content-child js-social-facebook" data-node-type="button" data-magic="social-facebook" id="el_1646057526335_559">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-facebook-f" data-node-type="icon" id="el_1646057526335_560"></span>
        </button>
        <button class="learnworlds-element lw-social-button text-only lw-brand-text js-same-content-child js-social-twitter" data-node-type="button" data-magic="social-twitter" id="el_1646057526335_561">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-twitter" data-node-type="icon" id="el_1646057526335_562"></span>
        </button>
        <button class="learnworlds-element lw-social-button text-only lw-brand-text js-same-content-child js-social-youtube" data-node-type="button" data-magic="social-youtube" id="el_1646057526335_563" style="display: none;">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-youtube" data-node-type="icon" id="el_1646057526335_564"></span>
        </button>
        <button class="learnworlds-element lw-social-button text-only lw-brand-text js-same-content-child js-social-instagram" data-node-type="button" data-magic="social-instagram" id="el_1646057526335_565">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-instagram" data-node-type="icon" id="el_1646057526335_566"></span>
        </button>
        <button class="learnworlds-element lw-social-button text-only lw-brand-text js-same-content-child js-social-linkedin" data-node-type="button" data-magic="social-linkedin" id="el_1646057526335_567">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-linkedin-in" data-node-type="icon" id="el_1646057526335_568"></span>
        </button>
        <button class="learnworlds-element lw-social-button text-only lw-brand-text js-same-content-child js-social-pinterest" data-node-type="button" data-magic="social-pinterest" id="el_1646057526335_569" style="display: none;">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-pinterest-p" data-node-type="icon" id="el_1646057526335_570"></span>
        </button>
        <button class="learnworlds-element lw-social-button text-only lw-brand-text js-same-content-child js-social-vimeo" data-node-type="button" data-magic="social-vimeo" id="el_1646057526335_571" style="display: none;">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-vimeo-v" data-node-type="icon" id="el_1646057526335_572"></span>
        </button>
        <button class="learnworlds-element lw-social-button text-only lw-brand-text js-same-content-child js-social-tikTok" data-node-type="button" data-magic="social-tiktok" id="el_1646057526335_573" style="display: none;">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-tiktok" data-node-type="icon" id="el_1646057526335_574"></span>
        </button>
    </div>
</div>
</div>
        
    </div>
    
</div>



</section><section class="js-learnworlds-section learnworlds-section lw-dark-bg learnworlds-size-large js-change-image-node repeated-bg learnworlds-align-center" data-section-id="tplEmailLead17" data-magic="background-image" id="section_1645463769974_334" style="background-image: url(&quot;https://cdn.mycourse.app/images/site-templates/0299589088cbca4902b2fab9af9a30ae.png&quot;);"><div class="js-video-wrapper" style="display: none;"></div>
<div class="learnworlds-section-overlay lw-dark-bg js-learnworlds-overlay"></div>
<div class="learnworlds-section-content js-learnworlds-section-content narrow-ebook">
    <div class="lw-cols pl-25 pr-25 align-items-stretch one-row one-row-tl one-row-tp one-row-sl one-row-sp js-same-content-wrapper" data-node-type="columnWrapper" id="el_1645463769973_305">
        
        <div class="col box-shadow-round-light radius-15 lw-padding-large lw-dark-bg lw-border-color-brand bb-3px-solid standalone span_12_of_12 span_12_of_12-tl span_12_of_12-tp span_12_of_12-sl span_12_of_12-sp js-same-content-child anim-normal learnworlds-animated fade-in" data-node-type="column" id="el_1645463769973_306">
<h2 class="lw-widget-in learnworlds-subheading learnworlds-element learnworlds-subheading-large" data-element-id="heading2Normal" data-node-type="text" data-magic="title" id="el_1645463769973_307">
    <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ready to get started?</font></font></font>
    </font>
</h2>
<div class="learnworlds-main-text learnworlds-element learnworlds-main-text-normal lw-text-color-fadeout20" data-magic="" data-node-type="text" id="el_1645463769973_308">
    <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Enter your email for early access.</font></font></font>
    </font><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Our team will get in touch with you for a personal onboarding. </font></font></font></font><br><font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font>
    </font>
</div>
<div class="form-wrapper lead-form-wrapper js-same-content-wrapper" data-node-type="lead-form-wrapper" id="el_1645463769973_309">
    <form class="lead-form show-optin-checkbox" data-node-type="lead-form" id="el_1645463769973_310">
        <div class="lw-cols one-row one-row-tl one-row-tp one-row-sl multiple-rows-sp with-input-cols align-items-stretch no-gutter">
            <div class="col fg-1 no-padding span_10_of_12 span_10_of_12-tl span_8_of_12-tp span_8_of_12-sl span_12_of_12-sp mb-1rem-sp flex-item flexible">
                <input type="email" class="full-height learnworlds-input learnworlds-element learnworlds-input-normal learnworlds-input-outline-brand js-email-input" data-node-type="input" placeholder="E-mail address" data-magic="input" id="el_1645463769973_311">
</div>
            <div class="col no-padding span_2_of_12 span_2_of_12-tl span_4_of_12-tp span_4_of_12-sl span_12_of_12-sp flex-item flexible">
                <div class="learnworlds-button-wrapper full-height lw-content-block learnworlds-element js-same-content-wrapper nowrap" data-node-type="buttonWrapper" id="el_1645463769973_312">
                    <button class="learnworlds-button learnworlds-element js-same-content-child learnworlds-button-normal full-size learnworlds-button-solid-brand" data-node-type="button" id="el_1645463769973_313">
                        <span data-node-type="text" data-magic="button-text" id="el_1645463769974_314">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Join us now!</font></font></font>
                            </font>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="lead-form__optin-checkbox">
            <label class="checkbox-label with-flexible-parts lw-checkbox learnworlds-align-left">
                <input class="checkbox flexible-part js-optin-checkbox" type="checkbox"><div class="checkbox-box lw-border-color-fadeout80 flexible-part">
                    <span class="learnworlds-icon learnworlds-heading3-small fas fa-check"></span>
                </div>
                <div class="flexible-part">
                    <div class="learnworlds-main-text  learnworlds-main-text-normal learnworlds-element js-optin-checkbox-label">I would like to receive news, tips and tricks, and other promotional material</div>
                </div>
            </label>
        </div>
    </form>
    <div class="form-wrapper__response js-same-content-child">
        <div class="lw-cols main  align-items-stretch data-node-type=" columnwrapper="">
            <div class="col span_12_of_12 flex-item va-c js-change-image-node js-lw-flexible-wrapper non-flexible" data-node-type="column" id="el_1645463769974_315">
                <div class="learnworlds-main-text learnworlds-element learnworlds-main-text-large" data-magic="" data-node-type="text" id="el_1645463769974_316">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thank you!</font></font></font>
                    </font>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

    </div>
<div class="lw-widget-in learnworlds-button-wrapper learnworlds-element js-same-content-wrapper" data-node-type="social-links-wrapper" data-element-id="socialButtons4" id="el_1645463769974_317">
        <button class="learnworlds-element lw-social-button js-same-content-child js-social-facebook text-only lw-brand-text" data-node-type="button" id="el_1645463769974_318">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-facebook-f" data-node-type="icon" id="el_1645463769974_319"></span>
        </button>
        <button class="learnworlds-element lw-social-button js-same-content-child js-social-twitter text-only lw-brand-text" data-node-type="button" id="el_1645463769974_320">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-twitter" data-node-type="icon" id="el_1645463769974_321"></span>
        </button>
        <button class="learnworlds-element lw-social-button js-same-content-child js-social-youtube text-only lw-brand-text" data-node-type="button" id="el_1645463769974_322">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-youtube" data-node-type="icon" id="el_1645463769974_323"></span>
        </button>
        <button class="learnworlds-element lw-social-button js-same-content-child js-social-instagram text-only lw-brand-text" data-node-type="button" id="el_1645463769974_324">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-instagram" data-node-type="icon" id="el_1645463769974_325"></span>
        </button>
        <button class="learnworlds-element lw-social-button js-same-content-child js-social-linkedin text-only lw-brand-text" data-node-type="button" id="el_1645463769974_326">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-linkedin-in" data-node-type="icon" id="el_1645463769974_327"></span>
        </button>
        <button class="learnworlds-element lw-social-button js-same-content-child js-social-pinterest text-only lw-brand-text" data-node-type="button" id="el_1645463769974_328">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-pinterest-p" data-node-type="icon" id="el_1645463769974_329"></span>
        </button>
        <button class="learnworlds-element lw-social-button lw-brand-accent-1-text js-same-content-child js-social-vimeo text-only lw-brand-text" data-node-type="button" id="el_1645463769974_330">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-vimeo-v" data-node-type="icon" id="el_1645463769974_331"></span>
        </button>
        <button class="learnworlds-element lw-social-button lw-brand-accent-1-text js-same-content-child js-social-tikTok text-only lw-brand-text" data-node-type="button" id="el_1645463769974_332">
            <span class="learnworlds-main-text-normal learnworlds-icon fab fa-tiktok" data-node-type="icon" id="el_1645463769974_333"></span>
        </button>
    </div>
</div>
</section>
            
            
        </div>
    </div>

    <!-- imports babel parsed files -->
   
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/_components/pb-preview/_merged.js"></script>
    <script src="/scripts/lw_translate.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/runtime.93d0c7b2a8102511a3ae.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/82109.f2937800f3eea3a9f875.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/97035.6d3fd2c4f4ddae529bd3.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/26703.b3baeebb39b05e272924.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/31973.acf377010cea4db4c00a.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/19533.6b1a725b941bd48990ba.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/_components/pb-preview/pb-preview.b721a94ef50a15636cc2.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/70538.93e869bd8b380cae3595.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/14356.1580dce90d316a7fb39a.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/99883.a5abde4aab2d92751789.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/18949.b993d85e35311ebdc466.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/9669.38bda97cc666574d4152.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/78340.6e5aaf1e32db0ceb8f4f.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/56449.ab26e0bc24a2bdae4b66.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/46779.b06e5db80ccca4944efd.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/17353.22c6f67284ff4087b8e1.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/12954.b1f260e82a26fd8e3fc7.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/91033.5de9be9818c68995789b.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/37322.086cf39fc2ab2dff0783.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/74388.7cac8310625605599233.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/28700.1f6bea7763129d6d6564.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/57741.d1dbb865184db704758f.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/79288.07972cbef2dc2d68c290.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/60492.62ec714440130fc8130b.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/6525.4f08343b59810be1a980.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/8161.cbb8de8545de1e1dd721.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/60741.02d697f30ad612404af5.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/83123.47a57e3ac9475999fe02.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/344.242d674d3d7cf88cb31d.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/4043.aa9b5512b29e5a1a5d91.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/15345.537f9bdb52e4c69e17ed.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/pages.ebe36b83e1dd93116b4d.js"></script>
    <script src="https://cdn.mycourse.app/v2.19.10/_cdnAssets/webpack/pages_merged.js"></script>
    <script>var SCREENFORMS_COLOR = '#6998A5';
    //Init Lead Zones Marketing Opt-in
    var l_settings = [];
    $(document).ready(function(){
        l_settings = new enterSite();
        l_settings.initInterface();
        l_settings.enterStatus();

        $('.js-animated-close').on('click', function(){
            closeAnimatedModal();
        })
    });
    </script>
    

</script>


                <script>
            // Closest is not supported on IE11
            function isDescendantOfNodeWithClass (element, className) {
                var el = element;

                do {
                    if (el.classList.contains(className)) {
                        return true;
                    } 
                    
                    el = el.parentElement || el.parentNode;
                } while (el !== null && el.nodeType === 1);
                
                return false;
            }
        
        
            function detectImageElementsInView () {
                var allImageElements = document.querySelectorAll('[data-node-type="framedImage"], [data-node-type="screen"]');

                // Display image elements inside a popup right away
                var imageElementsInPopup = Array.prototype.filter.call(allImageElements, function(el) { return isDescendantOfNodeWithClass(el, 'popup') });
                imageElementsInPopup.forEach(function (el){ return el.classList.add('in-view'); });
                // Observe the rest ones
                var excludedIds = imageElementsInPopup.map(function (el){ return el.id; });
                var imageElementsToObserve = Array.prototype.filter.call(allImageElements, function (el){ return excludedIds.indexOf(el.id) === -1; });
                
                if ('IntersectionObserver' in window) {
                    var observerOptions = {
                        root:  document.body,
                        rootMargin: '0px 0px',
                    };
                    var observer = new IntersectionObserver(function (entries){
                        entries.forEach(function (entry){
                            if (entry.isIntersecting) {
                                entry.target.classList.add('in-view');
                                observer.unobserve(entry.target);
                            }
                        })
                    }, observerOptions);
                    imageElementsToObserve.forEach(function (el){ return observer.observe(el); });
                } else {
                    imageElementsToObserve.forEach(function (el){ return el.classList.add('in-view'); });
                }    
            }
            window.addEventListener('load', detectImageElementsInView);
        </script>
    
    



<script src="moz-extension://069c0474-e860-4665-96c2-21f13b6b5778/js/app.js" type="text/javascript"></script><iframe name="__privateStripeMetricsController7750" allowtransparency="true" scrolling="no" role="presentation" src="https://js.stripe.com/v3/m-outer-93afeeb17bc37e711759584dbfc50d47.html#url=https%3A%2F%2Fwww.dutchengineer.org%2Fabout&amp;title=About&amp;referrer=https%3A%2F%2Fwww.dutchengineer.org%2Fcourses&amp;muid=45a333e4-b932-41b7-b43a-2fb427d2368b8db033&amp;sid=99a006a6-6ab5-430c-99a5-4803c75e30b3304cff&amp;version=6&amp;preview=false" aria-hidden="true" tabindex="-1" style="border: medium none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; visibility: hidden !important; position: fixed !important; height: 1px !important; pointer-events: none !important; user-select: none !important;" frameborder="0"></iframe></body>





{{ end }}