{{ define "main"}}

<style>
.lw-contents-svg path {
    fill: white;
  }

</style>
<section class="js-learnworlds-section learnworlds-section lw-body-bg stretched-bg learnworlds-size-normal learnworlds-align-left js-change-image-node" data-magic="background-image" data-section-id="courseHero4" id="section_1671380174601_405">
    <div class="js-video-wrapper" style="display: none;"></div>
    <div class="learnworlds-section-overlay lw-dark-bg js-learnworlds-overlay" style="display: none;"></div>

    <div class="learnworlds-section-content js-learnworlds-section-content wide">
        
        <div class="lw-cols no-gutter one-row one-row-tl multiple-rows-tp multiple-rows-sl multiple-rows-sp align-items-stretch js-same-content-wrapper" data-node-type="columnWrapper" id="el_1671389460881_350">
            
            <div class="col span_8_of_12 span_8_of_12-tl span_12_of_12-tp mb-4rem-tp span_12_of_12-sl mb-4rem-sl span_12_of_12-sp mb-4rem-sp flex-item js-change-image-node js-lw-flexible-wrapper js-same-content-child" data-node-type="column" id="el_1671380174653_414">
                
                
                
                
                <h1 class="learnworlds-heading learnworlds-heading-normal learnworlds-element" data-magic="title" data-node-type="text" id="el_1671389460884_351">
                    {{ .Params.course.title }}
                </h1>
                
                
                
                
                
                
                <div class="learnworlds-screen-wrapper learnworlds-element no-margin-top no-edit full in-view" data-node-type="screen" id="el_1671380178260_433">
    <div class="learnworlds-frame js-learnworlds-screen-element">
        <div class="lw-screen-content">
            <div class="js-learnworlds-overlay lw-dark-bg learnworlds-bg-default-overlay" style="display:none;"></div>
            <div class="learnworlds-screen-caption bottom lw-brand-bg-fadeout60 js-lw-flexible-wrapper js-screen-caption">
                <div class="no-margin-bottom learnworlds-main-text learnworlds-main-text-normal learnworlds-element" data-node-type="text" data-magic="screen-caption" id="el_1671389460886_352">Write your awesome label here.</div>
            </div>
            {{ with .Params.course.image}}
            <div class="learnworlds-AR-16-9 learnworlds-bg-default js-change-image-node js-screen-image-wrapper" data-magic="image" style="background-image: url('{{ . }}');"> 
            </div>
            {{ end }}
            <div class="learnworlds-AR-16-9 learnworlds-video-iframe-wrapper js-video-wrapper js-video-wrapper" style="display:none">
                <span data-node-type="icon" class="large lw-brand-text learnworlds-icon lw-video-iframe-icon far fa-play-circle" data-magic="video-play" id="el_1671380191685_488"></span>
            </div>
        </div>
    </div>
</div>

            </div>
            
            <div class="col learnworlds-align-center span_4_of_12 span_4_of_12-tl span_12_of_12-tp mb-4rem-tp span_12_of_12-sl mb-4rem-sl span_12_of_12-sp mb-4rem-sp flex-item js-change-image-node js-lw-flexible-wrapper js-same-content-child" data-node-type="column" id="el_1671380178258_432">
                
                <div class="-enroll-btn-wrapper learnworlds-button-wrapper lw-content-block learnworlds-element js-component" data-node-type="course-enroll" id="component_1671380174634_407" style="margin-bottom: 2.5rem;"><div class="learnworlds-button full-width learnworlds-element auto-button learnworlds-button-normal learnworlds-button-solid-brand"><div class="flex a-i-c"><span class="mr-5">Enroll for</span>  
 <span class="course-button-price"><strong>  {{ .Params.course.price }}
                </strong></span></div> <!----> <!----></div></div>
                
                {{with .Params.author.image }}
                <div class="learnworlds-image learnworlds-bg-default learnworlds-framed-image learnworlds-element learnworlds-frame-size-small stretched-bg circle in-view" data-node-type="framedImage" id="el_1671389460894_353" style="background-image: url('{{ . }}');"></div>
                {{ end }}

                <ul class="lw-cols learnworlds-align-left oneItem-per-row multiple-rows learnworlds-element js-same-content-wrapper" data-node-type="listWrapper" id="el_1671389460895_354">
                    
                    <li class="col no-padding flex-item with-flexible-parts non-flexible js-lw-flexible-wrapper js-same-content-child" data-node-type="listItem" id="el_1671380191680_481">
                        <span class="learnworlds-main-text-large flexible-part learnworlds-icon lw-brand-text fas fa-user-graduate" data-node-type="icon" data-magic="list-icon" id="el_1671380178263_435"></span>
                        <div class="flexible-part lw-cols">
                            <div class="with-flexible-parts justify-content-space-between full-width">
                                <div class="flexible-part learnworlds-main-text no-margin-bottom learnworlds-element learnworlds-main-text-normal learnworlds-align-left" data-node-type="text" id="el_1671389460898_355">Author</div>
                                <div class="flexible-part fg-1 learnworlds-main-text no-margin-bottom learnworlds-element learnworlds-main-text-normal learnworlds-align-right" data-node-type="text" id="el_1671389460898_356"> {{ .Params.author.name }}
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="col no-padding flex-item with-flexible-parts non-flexible js-lw-flexible-wrapper js-same-content-child" data-node-type="listItem" id="el_1671380191682_484">
                        <span class="learnworlds-main-text-large flexible-part learnworlds-icon lw-brand-text fas fa-chart-line" data-node-type="icon" data-magic="list-icon" id="el_1671380191681_482"></span>
                        <div class="flexible-part lw-cols">
                            <div class="with-flexible-parts justify-content-space-between full-width">
                                <div class="flexible-part learnworlds-main-text no-margin-bottom learnworlds-element learnworlds-main-text-normal learnworlds-align-left" data-node-type="text" id="el_1671389460900_357">Level</div>
                                <div class="flexible-part fg-1 learnworlds-main-text no-margin-bottom learnworlds-element learnworlds-main-text-normal learnworlds-align-right" data-node-type="text" id="el_1671389460901_358">  {{ .Params.course.level }}
                                    <br></div>
                            </div>
                        </div>
                    </li>
                    
                    
                    
                    

                    
                    
                    
                </ul><div class="lw-widget-in learnworlds-main-text learnworlds-main-text-normal learnworlds-element" data-element-id="textNormal" data-node-type="text" id="el_1671389534817_397">{{ .Content }}</div>
                
            </div>
            
        </div>
    </div>
</section>

<section class="js-learnworlds-section learnworlds-section lw-course-contents -lw-course-contents18 lw-dark-bg stretched-bg learnworlds-size-normal" data-section-id="CourseContents18" id="section_1671971956205_392" style="display: block;"><div class="js-video-wrapper" style="display: none;"></div>
    <div class="learnworlds-section-content js-learnworlds-section-content wide js-lw-flexible-wrapper">


        <div class="lw-course-contents-chapters col span_12_of_12 standalone js-component" data-node-type="course-contents" id="component_1671971956205_391">
            {{ range $index, $unit := .Params.course.units }}	

            <div class=""><div class="lw-course-contents-chapter mb-6rem" sectionsdisplay="[object Object]"><div class="lw-cols one-row one-row-tl one-row-tp multiple-rows-sl multiple-rows-sp no-gutter align-items-stretch">

            <div class="lw-course-contents-chapter-num col span_1_of_12 span_1_of_12-tl span_2_of_12-tp span_12_of_12-sl span_2_of_12-sp fsh-0 no-padding"><h3 class="lw-course-contents-chapter-num fsh-0 p-2rem learnworlds-heading3 learnworlds-heading3-large no-margin-bottom learnworlds-element">
            {{$unit.order}}  
              </h3></div> 
              

              <div class="col span_11_of_12 span_11_of_12-tl span_10_of_12-tp span_12_of_12-sl span_12_of_12-sp fg-1 no-padding lw-b-1px-fadeout90"><div class="p-2rem lw-bb-1px-fadeout90"><div class="with-flexible-parts justify-content-space-between align-items-center"><h3 class="learnworlds-heading3 learnworlds-heading3-large learnworlds-element lw-course-contents-chapter-name no-margin-bottom">{{ $unit.title }}</h3> <div class="with-flexible-parts align-items-center"><div class="lw-tag no-margin-bottom lw-brand-bg learnworlds-main-text learnworlds-element learnworlds-main-text-tiny">free </div> <!----></div></div> <!----></div> <div class="lw-course-contents-units">
                
                {{ range $index, $lecture := .lectures }}	

                <div class="lw-course-contents-unit align-items-center with-flexible-parts p-1rem-2rem lw-bb-1px-fadeout90 lw-course-unit-completed">
                    <img src = "{{$lecture.icon}}" alt="My Happy SVG" style="height:30px; width:30px; fill:white; "/>                    <div class="ml-10px no-margin-bottom learnworlds-main-text learnworlds-main-text-small learnworlds-element">
                {{ $lecture.title }}
            </div> <div class="hide-sp ml-10px no-margin-bottom lw-text-color-fadeout50 learnworlds-main-text learnworlds-main-text-small learnworlds-element">
                {{ $lecture.duration}}
                    </div> <!----> <span class="ml-10px no-margin-bottom learnworlds-main-text-small learnworlds-icon fas fa-check lw-course-unit-check"></span></div>
                    {{ end }}
                    
                </div>
            </div>

        </div>

    </div>
    

                </div>

                {{ end }}                
                    </div>
</section>

<section class="js-learnworlds-section learnworlds-section lw-body-bg stretched-bg learnworlds-align-left js-change-image-node learnworlds-size-normal" data-section-id="tplEmailLead8" data-magic="background-image" id="section_1671381333872_1083">
    <div class="js-video-wrapper" style="display: none;"></div>
    <div class="learnworlds-section-overlay lw-light-bg js-learnworlds-overlay" style="display: none;"></div>
    <div class="learnworlds-section-content js-learnworlds-section-content wide js-same-content-wrapper" data-node-type="columnWrapper" id="el_1671381338376_1126">
        <div class="lw-cols with-flexible-parts one-row-tl multiple-rows-tp multiple-rows-sl multiple-rows-sp main align-items-stretch js-same-content-wrapper no-gutter one-row learnworlds-align-center justify-center" data-node-type="columnWrapper" id="el_1671381338376_1127">
            <div class="col span_6_of_12 span_6_of_12-tl span_12_of_12-tp mb-4rem-tp span_12_of_12-sl mb-4rem-sl span_12_of_12-sp mb-4rem-sp flex-item js-lw-flexible-wrapper js-same-content-child va-c flexible" data-node-type="column" id="el_1671381333909_1101">
                
                
                
                
<h2 class="learnworlds-subheading learnworlds-subheading-normal learnworlds-element" data-node-type="text" id="el_1671381338378_1128"><p style="text-align: center;">
    Join the others who learn about data engineering and best practices every week.&nbsp;</p></h2>

                
                
                
                

            </div>
            <div class="col span_6_of_12 span_6_of_12-tl span_12_of_12-tp span_12_of_12-sl span_12_of_12-sp flex-item js-lw-flexible-wrapper js-same-content-child flexible" data-node-type="column" id="el_1671381333912_1104">

                

            <div class="lw-widget-in lw-embed-wrapper learnworlds-element lw-embed-wrapper--AR-adaptive" data-element-id="simple-embed-wrapper" data-node-type="embed" id="el_1676672245875_442"><iframe src="https://dutchengineer.substack.com/embed" style="border:1px solid #EEE; background:white;" scrolling="no" width="480" height="320" frameborder="0"></iframe></div></div>
        </div>
    </div>
<div class="js-embed-wrapper lw-embed-wrapper learnworlds-element" style="overflow: hidden; position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; display: none;"></div></section>

{{ end }}